body {
    margin: 0;
  }
  
  .contenedor {
    background-color: #000;
    width: 830px;
    height: 880px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  .imagotipo {
    width: 750px;
    
  }

  h1{
    font-size: 50px;
  }
  
  
  
  @media only screen and (max-width: 600px) {
    .contenedor {
        padding: 10px; /* Adjust padding for smaller screens */
    }
  
    
  }
  