body {
  margin: 0;
}

.contenedor {
  background-color: #111827;
  width: 830px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.imagotipo {
  width: 100%;
  max-width: 335px;
}

.form-container {
  width: 80%;
  max-width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  justify-content: center;
  margin: 0 auto; /* Center the form */
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.sign {
  display: block;
  width: 100%; /* Adjusted width for responsiveness */
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  margin-left: 0px;
}

.forgot a,
.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon img {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

label {
  margin-left: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botones {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%; /* Adjusted width for responsiveness */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%; /* Adjusted width for responsiveness */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.social-icons img {
  width: 32px;
}

a{
  text-decoration: none;
  width: 44px;
  height: 47px;
}

.funcion{
  width: auto;
}

@media only screen and (max-width: 600px) {
  .contenedor {
      padding: 10px; /* Adjust padding for smaller screens */
  }

  .form-container {
      width: 80%;
      max-width: none;
      margin-left: 0;
  }

  .botones,
  .social-icons {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      text-align: center;
      justify-content: center;
  }
}
