/* Estilos base y ajustes de fondo */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #2c3e50, #4b6cb7); /* Fondo oscuro con gradiente */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/* Estilización del formulario con un fondo oscuro elegante */
form {
    background: #333333; /* Fondo oscuro para el formulario */
    color: #FFFFFF; /* Texto blanco para contraste */
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 90%;
    max-width: 500px;
}

/* Estilos para etiquetas y entradas de texto, ajustados para el fondo oscuro */
label {
    margin-top: 15px;
    float: left;
    font-size: 16px;
    color: #CCCCCC; /* Texto más claro para contraste */
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #555555;
    background-color: #444444; /* Fondo ligeramente más claro para los campos */
    color: #DDDDDD; /* Texto claro */
    transition: all 0.3s ease-in-out;
}

input[type=text]:focus, input[type=number]:focus, select:focus {
    border: 1px solid #AAAAAA;
    background-color: #555555; /* Fondo cuando se enfoca */
}

/* Botón de envío con efecto suave para el fondo oscuro */
button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #757f9a, #d7dde8); /* Gradiente suave */
    color: #333333; /* Texto oscuro para contraste */
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-image: linear-gradient(45deg, #d7dde8, #757f9a); /* Invertir gradiente al pasar el mouse */
}

/* Ajustes para el contenedor opcional con animación suave */
#otherDietGoalContainer {
    display: none; /* Oculto por defecto */
    animation: slideDown 0.5s ease-out forwards;
}

#otherDietGoalContainer[style*="display: block"] {
    display: block; /* Se muestra y anima cuando es activado */
}
