body {
    margin: 0;
    padding: 0;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .presentation-rhhjr {
    width: 90%; /* Adjust the width as needed */
    max-width: 448px;
    height: 60vh;
    margin: 0 auto;
    box-sizing: border-box;
    border: solid gray;
    position: relative;
    top: 150px;
  }
  
  .presentation-rhhjr .overlap {
    position: relative;
    height: 485px;
    top: 48px;
  }
  
  .presentation-rhhjr .c-wiz-c-wiz {
    position: absolute;
    width: 368px;
    height: 61px;
    top: 0;
    left: 40px;
  }
  
  .presentation-rhhjr .div-ptbikd {
    position: relative;
    width: 448px;
    height: 36px;
    top: -48px;
    left: -40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #cccccc;
  }
  
  .presentation-rhhjr .div {
    position: absolute;
    width: 14px;
    height: 15px;
    top: 10px;
    left: 16px;
  }
  
  .presentation-rhhjr .div-bwv {
    position: absolute;
    width: 119px;
    height: 20px;
    top: 10px;
    left: 42px;
  }
  
  .presentation-rhhjr .text-wrapper {
    position: absolute;
    width: 162px;
    height: 20px;
    top: 0;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #5f6368;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .presentation-rhhjr .c-wiz {
    position: absolute;
    width: 448px;
    height: 424px;
    top: 61px;
    left: 0;
  }
  
  .presentation-rhhjr .heading-sign-in {
    position: absolute;
    width: 142px;
    height: 32px;
    top: 50px;
    left: 153px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #202124;
    font-size: 22.3px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .presentation-rhhjr .overlap-group {
    position: absolute;
    width: 166px;
    height: 24px;
    top: 83px;
    left: 149px;
  }
  
  .presentation-rhhjr .text-wrapper-2 {
    position: absolute;
    width: 104px;
    height: 24px;
    top: 0;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #202124;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .presentation-rhhjr .button-canva {
    position: absolute;
    width: 62px;
    height: 19px;
    top: 3px;
    left: 104px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #1a73e8;
    font-size: 16px;
    letter-spacing: 0.25px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .presentation-rhhjr .overlap-group-2 {
    position: absolute;
    width: 368px;
    height: 62px;
    top: 135px;
    left: 40px;
  }
  
  .presentation-rhhjr .form-section {
    position: absolute;
    width: 92px;
    height: 14px;
    top: 0;
    left: 8px;
    background-color: #ffffff;
  }
  
  .presentation-rhhjr .div-wrapper {
    border: 1px solid;
    border-color: #dadce0;
    position: absolute;
    width: 368px;
    height: 56px;
    top: 6px;
    left: 0;
    border-radius: 4px;
  }
  
  .presentation-rhhjr .text-wrapper-3 {
    position: absolute;
    width: 162px;
    height: 15px;
    top: -17px;
    left: 2px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #1a73e8;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .presentation-rhhjr .form-section-2 {
    border: 2px solid;
    border-color: #1a73e8;
    position: absolute;
    width: 368px;
    height: 56px;
    top: 6px;
    left: 0;
    border-radius: 4px;
  }
  
  .presentation-rhhjr .form-section-2:focus{
    color: #1a73e8;
    transition: all  cubic-bezier(0,1.46,1,1.62);
    border: 2px solid #1a73e8;
    
    
  }

  .presentation-rhhjr .form-section-button {
    position: absolute;
    width: 249px;
    height: 16px;
    top: 208px;
    left: 40px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #1a73e8;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .presentation-rhhjr .para-continuar {
    position: absolute;
    width: 366px;
    height: 100px;
    top: 240px;
    left: 40px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    align-items: center;
  }
  
  .presentation-rhhjr .span {
    color: #5f6368;
  }
  
  .presentation-rhhjr .text-wrapper-4 {
    color: #1a73e8;
  }
  
  .presentation-rhhjr .button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 79px;
    height: 36px;
    top: 362px;
    left: 329px;
    background-color: #1a73e8;
    border-radius: 4px;
  }
  
  .presentation-rhhjr .text-wrapper-5 {
    position: absolute;
    width: 87px;
    height: 20px;
    top: 7px;
    left: -3px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.15px;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .presentation-rhhjr .button-create {
    position: absolute;
    width: 103px;
    height: 20px;
    top: 369px;
    left: 40px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #1a73e8;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.15px;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .presentation-rhhjr .dietapp-logo-claro {
    position: absolute;
    width: 80px;
    height: 76px;
    top: 0;
    left: 184px;
    object-fit: cover;
  }

  a{
    text-decoration: none;
    
  }
  .btn{
    color: white;
  }
  .diet{
    color: #1a73e8;
    background-color: transparent;
    border: none;
  }


  .imagen{
    margin-bottom: 5em;
  }

  @media screen and (max-width: 600px) {
    .presentation-rhhjr {
      width: 90%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .presentation-rhhjr {
      width: 70%;
    }
  }