.correo-google {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .correo-google .overlap-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dadce0;
    width: 450px;
    height: 570.98px;
  }
  
  .correo-google .overlap {
    position: relative;
    width: 448px;
    height: 570px;
    top: 1px;
    left: 1px;
  }
  
  .correo-google .presentation-rhhjr {
    position: absolute;
    width: 448px;
    height: 569px;
    top: 0;
    left: 0;
  }
  
  .correo-google .overlap-group {
    position: relative;
    height: 492px;
    top: 41px;
  }
  
  .correo-google .c-wiz-c-wiz {
    position: absolute;
    width: 368px;
    height: 61px;
    top: 7px;
    left: 40px;
  }
  
  .correo-google .div-ptbikd {
    position: relative;
    width: 448px;
    height: 36px;
    top: -48px;
    left: -40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #cccccc;
  }
  
  .correo-google .div {
    position: absolute;
    width: 14px;
    height: 15px;
    top: 10px;
    left: 16px;
  }
  
  .correo-google .div-bwv {
    position: absolute;
    width: 119px;
    height: 20px;
    top: 10px;
    left: 42px;
  }
  
  .correo-google .text-wrapper {
    position: absolute;
    width: 162px;
    height: 20px;
    top: 0;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #5f6368;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .correo-google .c-wiz {
    position: absolute;
    width: 448px;
    height: 424px;
    top: 68px;
    left: 0;
  }
  
  .correo-google .heading-sign-in {
    position: absolute;
    width: 366px;
    height: 32px;
    top: 27px;
    left: 41px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #202124;
    font-size: 22.3px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .correo-google .form-section {
    position: absolute;
    width: 92px;
    height: 14px;
    top: 105px;
    left: 48px;
    background-color: #ffffff;
  }
  
  .correo-google .si-contin-as-google {
    position: absolute;
    width: 366px;
    height: 80px;
    top: 147px;
    left: 40px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .correo-google .span {
    color: #5f6368;
  }
  
  .correo-google .text-wrapper-2 {
    color: #1a73e8;
  }
  
  .correo-google .text-wrapper-3 {
    position: absolute;
    height: 16px;
    top: 82px;
    left: 164px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .correo-google .puedes-gestionar {
    position: absolute;
    width: 372px;
    height: 44px;
    top: 244px;
    left: 40px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .correo-google .frame {
    left: 48px;
    display: flex;
    width: 162px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3px;
    position: absolute;
    top: 312px;
    background-color: #ffffff;
  }
  
  .correo-google .button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: 163px;
    height: 42px;
    margin-left: -3.5px;
    margin-right: -3.5px;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid;
    border-color: #f6fafe;
  }
  
  .correo-google .before {
    position: absolute;
    width: 240px;
    height: 190px;
    top: 40px;
    left: 160px;
    background-color: #0077ff;
    border-radius: 87.5px;
  }
  
  .correo-google .text-wrapper-4 {
    position: absolute;
    width: 76px;
    height: 20px;
    top: 9px;
    left: 44px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #0077ff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42.5px;
    white-space: nowrap;
  }
  
  .correo-google .button-wrapper {
    left: 224px;
    display: flex;
    width: 162px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3px;
    position: absolute;
    top: 312px;
    background-color: #ffffff;
  }
  
  .correo-google .dietapp-logo-claro {
    position: absolute;
    width: 80px;
    height: 76px;
    top: 0;
    left: 184px;
    object-fit: cover;
  }
  
  .correo-google .image {
    position: absolute;
    width: 32px;
    height: 30px;
    top: 143px;
    left: 120px;
    object-fit: cover;
  }
  
  .correo-google .footer-combobox {
    position: absolute;
    width: 163px;
    height: 28px;
    top: 542px;
    left: 11px;
    overflow: hidden;
  }
  
  .correo-google .overlap-2 {
    position: relative;
    width: 187px;
    height: 28px;
    top: -1px;
  }
  
  .correo-google .text-wrapper-5 {
    position: absolute;
    width: 187px;
    height: 28px;
    top: 0;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #3c4043;
    font-size: 12px;
    letter-spacing: 0.11px;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .correo-google .img {
    position: absolute;
    width: 10px;
    height: 5px;
    top: 14px;
    left: 136px;
  }
  
  .correo-google .footer-list-item {
    width: 37px;
    left: 275px;
    position: absolute;
    height: 14px;
    top: 551px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #3c4043;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .correo-google .footer-list-item-2 {
    width: 57px;
    left: 326px;
    position: absolute;
    height: 14px;
    top: 551px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #3c4043;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .correo-google .footer-list-item-3 {
    width: 54px;
    left: 389px;
    position: absolute;
    height: 14px;
    top: 551px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #3c4043;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }

  a{
    text-decoration: none;
    color: #1a73e8;
  }
  